<div class="container">
	<div class="row mt-5">
		<div class="col-sm-4 mt-5">
			<form class="" #signUpForm="ngForm" (submit)="registerUser(signUpForm)">
				<div class="form-group was- validated">
					<label>Username:</label>
					<input type="text" class="form-control" placeholder="username" name="username" minlength="4" required ngModel>
				</div>
				<div class="form-group was- validated">
					<label>Email:</label>
					<input type="text" class="form-control" placeholder="you@example.com" id="email" name="email" minlength="5" required ngModel>
				</div>
				<div class="form-group was- validated">
					<label>Password:</label>
					<input type="password" class="form-control" placeholder="Enter password" name="password" autocomplete="on" required ngModel>
				</div>
				<p class="mt-1">
					Already have an account? <a [routerLink]="['/login']">Login</a>
				</p>
				<button type="submit" class="btn btn-info">Sign Up</button>
			</form>
		</div>
		<div class="col-sm-7 offset-1">
			<img src="../../assets/img/undraw_to_do_list_a49b.png" width="100%" class="mx-auto d-block mb-5">
		</div>
	</div>
</div>
