<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand font-weight-bold" href="#">Planit</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarNavDropdown" class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto"></ul>
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Welcome &nbsp;<b>@username</b>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Logout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
