<div class="container-fluid">
	<h3 class="mt-4">Todos List</h3>
	<table class="table table-hover mt-5">
		<thead class="thead-light">
			<tr>
				<th>Edit</th>
				<th>Title</th>
				<th>Description</th>
				<th>Created On</th>
				<th>Last Modified On</th>
				<th>Completed</th>
				<th>Delete Todo</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let todo of todos">
				<td>
					<a routerLink="/todo/{{todo._id}}"><i class="material-icons">edit</i></a>
				</td>
				<td>{{todo.title}}</td>
				<td>{{todo.description}}</td>
				<td>{{displayTime(todo.createdOn)}}</td>
				<td>{{todo.modifiedOn ? displayTime(todo.modifiedOn) : displayTime(todo.createdOn)}}</td>
				<td>
					<div class="custom-control custom-checkbox mb-3">
						<input type="checkbox" class="custom-control-input" id="customCheck-{{todo._id}}" name="example1" [checked]="todo.completed">
						<label class="custom-control-label" for="customCheck-{{todo._id}}"></label>
						<!-- <label class="custom-control-label" for="customCheck-{{todo._id}}">{{todo.completed ? 'Completed' : 'InCompleted'}}</label> -->
					</div>
				</td>
				<td class="todo-item-{{todo._id}}">
					<a class="btn-delete-todo" (click)="deleteTodo($event, todo._id)"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
